<?xml version="1.0" encoding="UTF-8"?>
<project name="spring-cloud" default="all">
  
  
  <property file="spring-cloud.properties"/>
  <!-- Uncomment the following property if no tests compilation is needed -->
  <!-- 
  <property name="skip.tests" value="true"/>
   -->
  
  <!-- Compiler options -->
  
  <property name="compiler.debug" value="on"/>
  <property name="compiler.generate.no.warnings" value="off"/>
  <property name="compiler.args" value=""/>
  <property name="compiler.max.memory" value="700m"/>
  <patternset id="ignored.files">
    <exclude name="**/*.hprof/**"/>
    <exclude name="**/*.pyc/**"/>
    <exclude name="**/*.pyo/**"/>
    <exclude name="**/*.rbc/**"/>
    <exclude name="**/*.yarb/**"/>
    <exclude name="**/*~/**"/>
    <exclude name="**/.DS_Store/**"/>
    <exclude name="**/.git/**"/>
    <exclude name="**/.hg/**"/>
    <exclude name="**/.svn/**"/>
    <exclude name="**/CVS/**"/>
    <exclude name="**/__pycache__/**"/>
    <exclude name="**/_svn/**"/>
    <exclude name="**/vssver.scc/**"/>
    <exclude name="**/vssver2.scc/**"/>
  </patternset>
  <patternset id="library.patterns">
    <include name="*.egg"/>
    <include name="*.jar"/>
    <include name="*.ear"/>
    <include name="*.swc"/>
    <include name="*.war"/>
    <include name="*.ane"/>
    <include name="*.zip"/>
  </patternset>
  <patternset id="compiler.resources">
    <exclude name="**/?*.java"/>
    <exclude name="**/?*.form"/>
    <exclude name="**/?*.class"/>
    <exclude name="**/?*.groovy"/>
    <exclude name="**/?*.scala"/>
    <exclude name="**/?*.flex"/>
    <exclude name="**/?*.kt"/>
    <exclude name="**/?*.clj"/>
    <exclude name="**/?*.aj"/>
  </patternset>
  
  <!-- JDK definitions -->
  
  <property name="jdk.bin.1.8" value="${jdk.home.1.8}/bin"/>
  <path id="jdk.classpath.1.8">
    <fileset dir="${jdk.home.1.8}">
      <include name="jre/lib/charsets.jar"/>
      <include name="jre/lib/deploy.jar"/>
      <include name="jre/lib/ext/access-bridge-64.jar"/>
      <include name="jre/lib/ext/cldrdata.jar"/>
      <include name="jre/lib/ext/dnsns.jar"/>
      <include name="jre/lib/ext/jaccess.jar"/>
      <include name="jre/lib/ext/jfxrt.jar"/>
      <include name="jre/lib/ext/localedata.jar"/>
      <include name="jre/lib/ext/nashorn.jar"/>
      <include name="jre/lib/ext/sunec.jar"/>
      <include name="jre/lib/ext/sunjce_provider.jar"/>
      <include name="jre/lib/ext/sunmscapi.jar"/>
      <include name="jre/lib/ext/sunpkcs11.jar"/>
      <include name="jre/lib/ext/zipfs.jar"/>
      <include name="jre/lib/javaws.jar"/>
      <include name="jre/lib/jce.jar"/>
      <include name="jre/lib/jfr.jar"/>
      <include name="jre/lib/jfxswt.jar"/>
      <include name="jre/lib/jsse.jar"/>
      <include name="jre/lib/management-agent.jar"/>
      <include name="jre/lib/plugin.jar"/>
      <include name="jre/lib/resources.jar"/>
      <include name="jre/lib/rt.jar"/>
    </fileset>
  </path>
  
  <property name="project.jdk.home" value="${jdk.home.1.8}"/>
  <property name="project.jdk.bin" value="${jdk.bin.1.8}"/>
  <property name="project.jdk.classpath" value="jdk.classpath.1.8"/>
  
  
  <!-- Project Libraries -->
  
  <path id="library.maven:_ch.qos.logback:logback-classic:1.1.11.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/ch/qos/logback/logback-classic/1.1.11/logback-classic-1.1.11.jar"/>
  </path>
  
  <path id="library.maven:_ch.qos.logback:logback-core:1.1.11.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/ch/qos/logback/logback-core/1.1.11/logback-core-1.1.11.jar"/>
  </path>
  
  <path id="library.maven:_com.fasterxml.jackson.core:jackson-annotations:2.8.0.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/com/fasterxml/jackson/core/jackson-annotations/2.8.0/jackson-annotations-2.8.0.jar"/>
  </path>
  
  <path id="library.maven:_com.fasterxml.jackson.core:jackson-core:2.8.10.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/com/fasterxml/jackson/core/jackson-core/2.8.10/jackson-core-2.8.10.jar"/>
  </path>
  
  <path id="library.maven:_com.fasterxml.jackson.core:jackson-databind:2.8.10.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/com/fasterxml/jackson/core/jackson-databind/2.8.10/jackson-databind-2.8.10.jar"/>
  </path>
  
  <path id="library.maven:_com.fasterxml:classmate:1.3.4.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/com/fasterxml/classmate/1.3.4/classmate-1.3.4.jar"/>
  </path>
  
  <path id="library.maven:_com.googlecode.javaewah:javaewah:1.1.6.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/com/googlecode/javaewah/JavaEWAH/1.1.6/JavaEWAH-1.1.6.jar"/>
  </path>
  
  <path id="library.maven:_com.jayway.jsonpath:json-path:2.2.0.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/com/jayway/jsonpath/json-path/2.2.0/json-path-2.2.0.jar"/>
  </path>
  
  <path id="library.maven:_com.jcraft:jsch:0.1.53.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/com/jcraft/jsch/0.1.53/jsch-0.1.53.jar"/>
  </path>
  
  <path id="library.maven:_com.vaadin.external.google:android-json:0.0.20131108.vaadin1.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/com/vaadin/external/google/android-json/0.0.20131108.vaadin1/android-json-0.0.20131108.vaadin1.jar"/>
  </path>
  
  <path id="library.maven:_commons-codec:commons-codec:1.10.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/commons-codec/commons-codec/1.10/commons-codec-1.10.jar"/>
  </path>
  
  <path id="library.maven:_javax.validation:validation-api:1.1.0.final.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/javax/validation/validation-api/1.1.0.Final/validation-api-1.1.0.Final.jar"/>
  </path>
  
  <path id="library.maven:_junit:junit:4.12.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/junit/junit/4.12/junit-4.12.jar"/>
  </path>
  
  <path id="library.maven:_net.minidev:accessors-smart:1.1.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/net/minidev/accessors-smart/1.1/accessors-smart-1.1.jar"/>
  </path>
  
  <path id="library.maven:_net.minidev:json-smart:2.2.1.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/net/minidev/json-smart/2.2.1/json-smart-2.2.1.jar"/>
  </path>
  
  <path id="library.maven:_org.apache.httpcomponents:httpclient:4.5.3.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/apache/httpcomponents/httpclient/4.5.3/httpclient-4.5.3.jar"/>
  </path>
  
  <path id="library.maven:_org.apache.httpcomponents:httpcore:4.4.6.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/apache/httpcomponents/httpcore/4.4.6/httpcore-4.4.6.jar"/>
  </path>
  
  <path id="library.maven:_org.apache.tomcat.embed:tomcat-embed-core:8.5.20.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/apache/tomcat/embed/tomcat-embed-core/8.5.20/tomcat-embed-core-8.5.20.jar"/>
  </path>
  
  <path id="library.maven:_org.apache.tomcat.embed:tomcat-embed-el:8.5.20.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/apache/tomcat/embed/tomcat-embed-el/8.5.20/tomcat-embed-el-8.5.20.jar"/>
  </path>
  
  <path id="library.maven:_org.apache.tomcat.embed:tomcat-embed-websocket:8.5.20.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/apache/tomcat/embed/tomcat-embed-websocket/8.5.20/tomcat-embed-websocket-8.5.20.jar"/>
  </path>
  
  <path id="library.maven:_org.assertj:assertj-core:2.6.0.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/assertj/assertj-core/2.6.0/assertj-core-2.6.0.jar"/>
  </path>
  
  <path id="library.maven:_org.bouncycastle:bcpkix-jdk15on:1.55.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/bouncycastle/bcpkix-jdk15on/1.55/bcpkix-jdk15on-1.55.jar"/>
  </path>
  
  <path id="library.maven:_org.bouncycastle:bcprov-jdk15on:1.55.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/bouncycastle/bcprov-jdk15on/1.55/bcprov-jdk15on-1.55.jar"/>
  </path>
  
  <path id="library.maven:_org.eclipse.jgit:org.eclipse.jgit:4.6.0.201612231935-r.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/eclipse/jgit/org.eclipse.jgit/4.6.0.201612231935-r/org.eclipse.jgit-4.6.0.201612231935-r.jar"/>
  </path>
  
  <path id="library.maven:_org.hamcrest:hamcrest-core:1.3.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/hamcrest/hamcrest-core/1.3/hamcrest-core-1.3.jar"/>
  </path>
  
  <path id="library.maven:_org.hamcrest:hamcrest-library:1.3.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/hamcrest/hamcrest-library/1.3/hamcrest-library-1.3.jar"/>
  </path>
  
  <path id="library.maven:_org.hibernate:hibernate-validator:5.3.5.final.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/hibernate/hibernate-validator/5.3.5.Final/hibernate-validator-5.3.5.Final.jar"/>
  </path>
  
  <path id="library.maven:_org.jboss.logging:jboss-logging:3.3.1.final.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/jboss/logging/jboss-logging/3.3.1.Final/jboss-logging-3.3.1.Final.jar"/>
  </path>
  
  <path id="library.maven:_org.mockito:mockito-core:1.10.19.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/mockito/mockito-core/1.10.19/mockito-core-1.10.19.jar"/>
  </path>
  
  <path id="library.maven:_org.objenesis:objenesis:2.1.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/objenesis/objenesis/2.1/objenesis-2.1.jar"/>
  </path>
  
  <path id="library.maven:_org.ow2.asm:asm:5.0.3.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/ow2/asm/asm/5.0.3/asm-5.0.3.jar"/>
  </path>
  
  <path id="library.maven:_org.skyscreamer:jsonassert:1.4.0.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/skyscreamer/jsonassert/1.4.0/jsonassert-1.4.0.jar"/>
  </path>
  
  <path id="library.maven:_org.slf4j:jcl-over-slf4j:1.7.25.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/slf4j/jcl-over-slf4j/1.7.25/jcl-over-slf4j-1.7.25.jar"/>
  </path>
  
  <path id="library.maven:_org.slf4j:jul-to-slf4j:1.7.25.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/slf4j/jul-to-slf4j/1.7.25/jul-to-slf4j-1.7.25.jar"/>
  </path>
  
  <path id="library.maven:_org.slf4j:log4j-over-slf4j:1.7.25.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/slf4j/log4j-over-slf4j/1.7.25/log4j-over-slf4j-1.7.25.jar"/>
  </path>
  
  <path id="library.maven:_org.slf4j:slf4j-api:1.7.25.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/slf4j/slf4j-api/1.7.25/slf4j-api-1.7.25.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.boot:spring-boot-actuator:1.5.7.release.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/springframework/boot/spring-boot-actuator/1.5.7.RELEASE/spring-boot-actuator-1.5.7.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.boot:spring-boot-autoconfigure:1.5.7.release.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/springframework/boot/spring-boot-autoconfigure/1.5.7.RELEASE/spring-boot-autoconfigure-1.5.7.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.boot:spring-boot-starter-actuator:1.5.7.release.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/springframework/boot/spring-boot-starter-actuator/1.5.7.RELEASE/spring-boot-starter-actuator-1.5.7.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.boot:spring-boot-starter-logging:1.5.7.release.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/springframework/boot/spring-boot-starter-logging/1.5.7.RELEASE/spring-boot-starter-logging-1.5.7.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.boot:spring-boot-starter-test:1.5.7.release.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/springframework/boot/spring-boot-starter-test/1.5.7.RELEASE/spring-boot-starter-test-1.5.7.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.boot:spring-boot-starter-tomcat:1.5.7.release.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/springframework/boot/spring-boot-starter-tomcat/1.5.7.RELEASE/spring-boot-starter-tomcat-1.5.7.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.boot:spring-boot-starter-web:1.5.7.release.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/springframework/boot/spring-boot-starter-web/1.5.7.RELEASE/spring-boot-starter-web-1.5.7.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.boot:spring-boot-starter:1.5.7.release.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/springframework/boot/spring-boot-starter/1.5.7.RELEASE/spring-boot-starter-1.5.7.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.boot:spring-boot-test-autoconfigure:1.5.7.release.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/springframework/boot/spring-boot-test-autoconfigure/1.5.7.RELEASE/spring-boot-test-autoconfigure-1.5.7.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.boot:spring-boot-test:1.5.7.release.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/springframework/boot/spring-boot-test/1.5.7.RELEASE/spring-boot-test-1.5.7.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.boot:spring-boot:1.5.7.release.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/springframework/boot/spring-boot/1.5.7.RELEASE/spring-boot-1.5.7.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.cloud:spring-cloud-commons:1.2.3.release.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/springframework/cloud/spring-cloud-commons/1.2.3.RELEASE/spring-cloud-commons-1.2.3.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.cloud:spring-cloud-config-client:1.3.2.release.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/springframework/cloud/spring-cloud-config-client/1.3.2.RELEASE/spring-cloud-config-client-1.3.2.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.cloud:spring-cloud-config-server:1.3.2.release.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/springframework/cloud/spring-cloud-config-server/1.3.2.RELEASE/spring-cloud-config-server-1.3.2.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.cloud:spring-cloud-context:1.2.3.release.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/springframework/cloud/spring-cloud-context/1.2.3.RELEASE/spring-cloud-context-1.2.3.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.security:spring-security-crypto:4.2.3.release.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/springframework/security/spring-security-crypto/4.2.3.RELEASE/spring-security-crypto-4.2.3.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework.security:spring-security-rsa:1.0.3.release.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/springframework/security/spring-security-rsa/1.0.3.RELEASE/spring-security-rsa-1.0.3.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework:spring-aop:4.3.11.release.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/springframework/spring-aop/4.3.11.RELEASE/spring-aop-4.3.11.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework:spring-beans:4.3.11.release.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/springframework/spring-beans/4.3.11.RELEASE/spring-beans-4.3.11.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework:spring-context:4.3.11.release.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/springframework/spring-context/4.3.11.RELEASE/spring-context-4.3.11.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework:spring-core:4.3.11.release.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/springframework/spring-core/4.3.11.RELEASE/spring-core-4.3.11.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework:spring-expression:4.3.11.release.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/springframework/spring-expression/4.3.11.RELEASE/spring-expression-4.3.11.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework:spring-test:4.3.11.release.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/springframework/spring-test/4.3.11.RELEASE/spring-test-4.3.11.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework:spring-web:4.3.11.release.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/springframework/spring-web/4.3.11.RELEASE/spring-web-4.3.11.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.springframework:spring-webmvc:4.3.11.release.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/springframework/spring-webmvc/4.3.11.RELEASE/spring-webmvc-4.3.11.RELEASE.jar"/>
  </path>
  
  <path id="library.maven:_org.yaml:snakeyaml:1.17.classpath">
    <pathelement location="${basedir}/../../../apache-maven-3.5.0/local/repo/org/yaml/snakeyaml/1.17/snakeyaml-1.17.jar"/>
  </path>
  
  
  <!-- Global Libraries -->
  <!-- Register Custom Compiler Taskdefs -->
  <property name="javac2.home" value="${idea.home}/lib"/>
  <path id="javac2.classpath">
    <pathelement location="${javac2.home}/javac2.jar"/>
    <pathelement location="${javac2.home}/jdom.jar"/>
    <pathelement location="${javac2.home}/asm-all.jar"/>
    <pathelement location="${javac2.home}/jgoodies-forms.jar"/>
  </path>
  <target name="register.custom.compilers">
    <taskdef name="javac2" classname="com.intellij.ant.Javac2" classpathref="javac2.classpath"/>
    <taskdef name="instrumentIdeaExtensions" classname="com.intellij.ant.InstrumentIdeaExtensions" classpathref="javac2.classpath"/>
  </target>
  
  <!-- Modules -->
  
  <import file="${basedir}/module_spring-cloud.xml"/>
  
  <import file="${basedir}/spring-cloud-config-git/spring-cloud-config-client/module_spring-cloud-config-client.xml"/>
  
  <import file="${basedir}/spring-cloud-config-git/spring-cloud-config-server/module_spring-cloud-config-server.xml"/>
  
  <target name="init" description="Build initialization">
    <!-- Perform any build initialization in this target -->
  </target>
  
  <target name="clean" depends="clean.module.spring-cloud, clean.module.spring-cloud-config-client, clean.module.spring-cloud-config-server" description="cleanup all"/>
  
  <target name="build.modules" depends="init, clean, compile.module.spring-cloud, compile.module.spring-cloud-config-client, compile.module.spring-cloud-config-server" description="build all modules"/>
  
  <target name="all" depends="build.modules" description="build all"/>
</project>